.GoogleLogIn {
    width: 100%;
    min-height: 100vh;
    text-align: center;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 50px;
    background-color: rgba(27, 27, 27, 0.459);
    border-radius: 1cm;
}

body {
    margin-left: 10%;
    margin-right: 10%;
    background-color: #756349;
}

.logo {
    vertical-align: middle;
    text-align: center;
    align-content: center;
    margin-bottom: 10px;
}

img {
    width: 200px;
}

h1 {
    text-align: center;
    vertical-align: middle;
    font: bold;
    color: rgb(233, 233, 217);
}

.center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
}